<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/UserAccount.css" rel="stylesheet" />
</head>
<body onload="loginCheck()">
    <div class="list-group">
        <div class="list-title">
            <div><h4>支出名称</h4></div>
            <div><h4>支出金额</h4></div>
            <div><h4>支付人</h4></div>
            <div><h4>支付日期</h4></div>
            <div><h4>备注</h4></div>
        </div>
        <div>
            <div><h5>支出名称：</h5>水电费</div>
            <div><h5>支出金额：</h5>347.5</div>
            <div><h5>支 付 人：</h5>刘超帅</div>
            <div><h5>支付日期：</h5>2016-4-11</div>
            <div><h5>备 注：</h5>二三月份水电费二三月份水电费二三月份水电费二三月份水电费二三月份水电费二三月份水电费</div>
        </div>
        <div style="background-color:#f8f8f8;">
            <div><h5>支出名称：</h5>水电费</div>
            <div><h5>支出金额：</h5>347.5</div>
            <div><h5>支付人：</h5>刘超帅</div>
            <div><h5>支付日期：</h5>2016-4-11</div>
            <div><h5>备注：</h5>二三月份水电费</div>
        </div>
        <div>
            <div><h5>支出名称：</h5>水电费</div>
            <div><h5>支出金额：</h5>347.5</div>
            <div><h5>支付人：</h5>刘超帅</div>
            <div><h5>支付日期：</h5>2016-4-11</div>
            <div><h5>备注：</h5>二三月份水电费</div>
        </div>
        <div>
            <div><h5>支出名称：</h5>水电费</div>
            <div><h5>支出金额：</h5>347.5</div>
            <div><h5>支付人：</h5>刘超帅</div>
            <div><h5>支付日期：</h5>2016-4-11</div>
            <div><h5>备注：</h5>二三月份水电费</div>
        </div>
        <div>
            <div><h5>支出名称：</h5>水电费</div>
            <div><h5>支出金额：</h5>347.5</div>
            <div><h5>支付人：</h5>刘超帅</div>
            <div><h5>支付日期：</h5>2016-4-11</div>
            <div><h5>备注：</h5>二三月份水电费</div>
        </div>
    </div>
    <script src="/scripts/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/common.js"></script>
</body>
</html>
