<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/PayItem.css" rel="stylesheet" />
</head>
<body onload="loginCheck()">
    <ul class="list-group">
        <li class="list-group-item">
            <div>
                <h4 class="list-group-item-heading">水电费</h4>
                <p class="list-group-item-text">两个月一交两个月一交两个月一交两个月一交两个月一交</p>
            </div>
            <div>
                <button class="btn btn-default">编辑</button>
                <button class="btn btn-default">删除</button>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <h4 class="list-group-item-heading">房租</h4>
                <p class="list-group-item-text">三月一交</p>
            </div>
            <div>
                <button class="btn btn-default">编辑</button>
                <button class="btn btn-default">删除</button>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <h4 class="list-group-item-heading">宽带费</h4>
                <p class="list-group-item-text"></p>
            </div>
            <div>
                <button class="btn btn-default">编辑</button>
                <button class="btn btn-default">删除</button>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <h4 class="list-group-item-heading">房租</h4>
                <p class="list-group-item-text">三月一交</p>
            </div>
            <div>
                <button class="btn btn-default">编辑</button>
                <button class="btn btn-default">删除</button>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <h4 class="list-group-item-heading">房租</h4>
                <p class="list-group-item-text">三月一交</p>
            </div>
            <div>
                <button class="btn btn-default">编辑</button>
                <button class="btn btn-default">删除</button>
            </div>
        </li>
        <li style="clear:both;height:1px;"></li>
    </ul>
    <script src="/scripts/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/common.js"></script>
</body>
</html>
