@media screen and (max-width: 767px) {
    .navbar-header {
        float: none;
    }
        .navbar-header .navbar-nav > li > a {
            text-align:center;
        }
    .navbar-offcanvas {
        width:200px;
        overflow:hidden;
    }
}

@media screen and (min-width: 768px) {
    .navbar-header {
        float: right;
    }
}

.navbar-title {
    text-align:center;
}

.content-wrapper {
  
}