.gradeX > td {
    padding: 3px;
}

.table-bordered {
    border: 1px solid #c3b7b7;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    border: 1px solid #c3b7b7;
    text-align: center;
}
.table > thead > tr > th {
    background-color:#f8f8f8;
}

.details input[type=text] {
    padding: 0 3px;
    height: 26px;
}

.details {
    text-align: center;
}
