.list-group {
    margin: 5px 0;
}

.hover {
    background-color: #f8f8f8;
}

.active {
    background-color: #08c;
    color: #fff;
}

.list-group > div {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 5px 0 5px;
    cursor: pointer;
}

    .list-group > div > div {
        display: inline-block;
    }

        .list-group > div > div > h5 {
            display: inline-block;
            width: 72px;
            font-weight: bold;
        }
.panel .panel-body table th, .panel .panel-body table td {
    padding:5px;
}


@media screen and (max-width: 767px) {
    .list-group > div > div {
        width: 32.5%;
    }

        .list-group > div > div:last-child {
            width: 60%;
        }

    .list-title {
        display: none;
    }

    .btn-group-justified > button:first-child {
        display: none;
    }

        .panel {
        margin: 10px 5px;
    }
}

@media screen and (max-width: 520px) {
    .list-group > div > div {
        width: 49%;
    }

        .list-group > div > div:last-child {
            width: 98%;
        }

    .list-title {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .list-group > div > div > h5 {
        display: none;
    }

    .list-group > div > div > h4 {
        margin: 0;
        font-weight: bold;
    }

    .list-group > div > div {
        width: 19.5%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .list-title {
        background-color: #f8f8f8;
        display: block;
    }

    .list-group {
        margin: 5px 10px;
        border: 1px solid #e7e7e7;
    }

    .panel {
        margin: 10px 15px;
    }
}
